<div class="sideInfo">
	<div>
		<span>Баланс: <%= @user.balance %> </span><%= link_to 'Пополнить', pay_account_path, :method => :get%>
	</div>
	<div>
		<span>Попытки: <%= @user.chances %> </span><%= link_to 'Купить ещё', buy_chances_account_path, :method => :put%>
	</div>

</div>
<div class="mainContent">
	<h3>Сайты: <%if @user.sites.blank?%>
<p>У Вас пока нет сайтов</p>
<%end%> </h3>
	<div class="pageInfo">
		<ol><% for site in @user.sites do %>
			
		<li> <%=site.url%><div class="menu" >
			<ul>
			 <li><%= link_to 'Просмотреть', site_path(:id=>site.id)%></li>
				
	         <% unless site.testing?%><li> <%= link_to 'Редактировать', edit_site_path(:id=>site.id)%></li><%end%>
	             
           <li class="delete"><%= link_to 'Удалить', site, :confirm => 'Are you sure?', :method => :delete %> </li>
           </ul>
            </div>
            <div class="status">Статус: <em><%=site.status%></em></div>
        
        <%end%>
        	</ol>
	</div>
	<%= link_to 'Добавить сайт', new_site_path , :class=>'button', :id=>'addSite'%>
</div>
