<p>
  <b>Login:</b>
  <%= @user.login %>
</p>
<p>
  <b>Баланс:</b>
  <%= @user.balance %>
</p>

<p>
  <b>Попытки:</b>
  <%= @user.chances %> <%= link_to 'Купить попытку', buy_chances_account_path, :method => :put%>
</p>
<!--<p>
  <b>Login count:</b>
  <%= @user.login_count %>
</p>!-->

<p>
  <b> <%=@user.login %> sites:</b>
 <%if @user.sites.blank?%>
<p>У Вас пока нет сайтов</p>
<%end%> 
<ul>
<% for site in @user.sites do %>
<li> <%=site.url%> <%= link_to 'Show site', site_path(:id=>site.id)%>
	<% unless site.testing?%> <%= link_to 'Edit', edit_site_path(:id=>site.id)%><%end%>
<%= link_to "Delete site", site,
          :confirm => "Are you sure?", :method => :delete %> <br>Статус: <%=site.status%></li>
<%end%>
</ul>
<%= link_to 'Add site', new_site_path%>
</p>
<%= button_to 'Пополнить баланс', pay_account_path, :method => :get%>

 <!--<p>
 <b>Last request at:</b>
  <%= @user.last_request_at %>
</p>

<p>
  <b>Last login at:</b>
  <%= @user.last_login_at %>
</p>

<p>
  <b>Current login at:</b>
  <%= @user.current_login_at %>
</p>

<p>
  <b>Last login ip:</b>
  <%= @user.last_login_ip %>
</p>

<p>
  <b>Current login ip:</b>
  <%= @user.current_login_ip %>
</p>
!-->


